html, body{
  height: 100%;
  width: 100%;
}

#indexFront{
  background-color: #0a3972;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#indexFront img{
  width: 80%;

}
