<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <nav class=" nav" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo left"><img src="assets/logo.png" alt="logo" width="70%"></a>
        <ul class="right" id="chipchip">
          <li><a href="#">
            <div class="chip">
              <img src="assets/img/aficionado.jpg" alt="Contact Person">
               PEDRO PEREZ
           </div>
          </a></li>
        </ul>

       <!-- <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
      </div>
    </nav>

    <section  id="searchContent">
      <div class="container">
        <form class="" onSubmit="locacion()" method="post">
          <input type="text" id="autocomplete-input" class="autocomplete" placeholder="Busca tu proxima meta">
        </form>
      </div>
    </section>


    <section class="container">
      <div class="row">
        <h2 class="center">Los 3 más alcanzables de la semana</h2>
      </div>
      <div class="row">
        <div id="reachables"></div>
      </div>
      </div>
    </section>

    <section id="video" class="container">
      <img src="assets/img/casoExito.jpg" alt="">
    </section>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/main.js">

    </script>
  </body>
</html>
