<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <nav class=" nav" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo left"><img src="../assets/logo.png" alt="logo" width="70%"></a>
        <ul class="right" id="chipchip">
          <li><a href="#">
            <div class="chip">
              <img src="../assets/img/aficionado.jpg" alt="Contact Person">
               Israel Calderon
           </div>
          </a></li>
        </ul>

       <!-- <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
      </div>
    </nav>

    <section>
      <img src="../assets/img/01.jpg" alt="253.jpg" width="100%">
    </section>
    <div class="container">
      <div class="row">
        <div class="col s12 m12">
          ¡Ya sabes lo que te gustaria! ahora prueba nuestro simulador, ingresa una cifra:
          <div class="input-field inline">
            <input id="ingresoMensual" type="number"placeholder="¿Cuanto vas a ahorrar">
          </div>
        </div>
      </div>
    </div>

    <section class="container">
      <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../assets/img/04.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><strong>VIAJE AL MUNDIAL 2022</strong></p>
              <p>Viaje para disfrutar del mundia de la fifa</p>
              <p><strong>Costo:</strong>$100,000.00</p>
              <p>Alcanzarias x en x años si invirtieras</p>
              </div>
            <a class="waves-effect waves-light btn indigo darken-4">Conoce Más</a>
          </div>
        </div>
        </div>
      </div>

      <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../assets/img/Qatar_2022_Logo.png" width="200px" height="200px">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><strong>VIAJE AL MUNDIAL 2022</strong></p>
              <p>Viaje para disfrutar del mundia de la fifa</p>
              <p><strong>Costo:</strong>$100,000.00</p>
              <p>Alcanzarias x en x años si invirtieras</p>
              </div>
            <a class="waves-effect waves-light btn indigo darken-4">Conoce Más</a>
          </div>
        </div>
      </div>
    </section>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
    <script src="../js/main.js">

    </script>
  </body>
</html>
